body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

  
button {
  font-family:  "Comic Sans MS", "Comic Sans", cursive;
}

option {
  font-family:  "Comic Sans MS", "Comic Sans", cursive;
}

#math1-answer {
font-family:  "Comic Sans MS", "Comic Sans", cursive;
}

#math2-answer {
font-family:  "Comic Sans MS", "Comic Sans", cursive;
}

#math3-answer {
font-family:  "Comic Sans MS", "Comic Sans", cursive;
}

#math1-result {
  background: rgb(229, 255, 229);
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#math2-result {
  background: rgb(229, 255, 229);
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#math3-result {
  background: rgb(229, 255, 229);
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

body {
  background-image: url("https://static.wikia.nocookie.net/baldis-basics-in-education-and-learning/images/5/5c/MapPad_3_TestSprite.png/revision/latest?cb=20241203041256");
}

hr {
  height: 5px;
  background-color: black;
}